<%= form_for(equipment) do |f| %>
  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invno %>
    <%= f.text_field :invno %>
  </div>

  <div class="field">
    <%= f.label :brend %>
    <%= f.text_field :brend %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6 %>
  </div>

  <div class="field">
    <%= f.label :motherboard %>
    <%= f.text_field :motherboard %>
  </div>

  <div class="field">
    <%= f.label :memory %>
    <%= f.number_field :memory %>
  </div>

  <div class="field">
    <%= f.label :mem_type %>
    <%= f.text_field :mem_type %>
  </div>

  <div class="field">
    <%= f.label :ssd %>
    <%= f.number_field :ssd %>
  </div>

  <div class="field">
    <%= f.label :hdd %>
    <%= f.number_field :hdd %>
  </div>

  <div class="field">
    <%= f.label :cpu %>
    <%= f.text_field :cpu %>
  </div>

  <div class="field">
    <%= f.label :type_equip %>
    <%= f.text_field :type_equip %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
