<p id="notice"><%= notice %></p>

<h1>Equipment</h1>

<table>
  <thead>
    <tr>
      <th>Invno</th>
      <th>Brend</th>
      <th>Model</th>
      <th>Description</th>
      <th>Motherboard</th>
      <th>Memory</th>
      <th>Mem type</th>
      <th>Ssd</th>
      <th>Hdd</th>
      <th>Cpu</th>
      <th>Type equip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.invno %></td>
        <td><%= equipment.brend %></td>
        <td><%= equipment.model %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.motherboard %></td>
        <td><%= equipment.memory %></td>
        <td><%= equipment.mem_type %></td>
        <td><%= equipment.ssd %></td>
        <td><%= equipment.hdd %></td>
        <td><%= equipment.cpu %></td>
        <td><%= equipment.type_equip %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
