<p id="notice"><%= notice %></p>

<p>
  <strong>Invno:</strong>
  <%= @equipment.invno %>
</p>

<p>
  <strong>Brend:</strong>
  <%= @equipment.brend %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Motherboard:</strong>
  <%= @equipment.motherboard %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @equipment.memory %>
</p>

<p>
  <strong>Mem type:</strong>
  <%= @equipment.mem_type %>
</p>

<p>
  <strong>Ssd:</strong>
  <%= @equipment.ssd %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @equipment.hdd %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @equipment.cpu %>
</p>

<p>
  <strong>Type equip:</strong>
  <%= @equipment.type_equip %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
