<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- start: MAIN JAVASCRIPTS -->
<%= render 'shared/mainjs' %>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<%= javascript_include_tag '/assets/jquery.validate.min' %>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: CLIP-TWO JAVASCRIPTS -->
<!-- start: JavaScript Event Handlers for this page -->
<%= javascript_include_tag '/assets/login' %>
<script>
  jQuery(document).ready(function() {
    Main.init();
    Login.init();
  });
</script>
<!-- end: JavaScript Event Handlers for this page -->

<%= link_to 'New User', new_user_path %>
